.header {
    height: 90px;
    width: 100%;
    display: inline;
}
.headerTopBar {
    position: relative;
    display: flex;
    margin: 0px 100px;
}
.contact{
    position: absolute;
    right: 0;
    float: right;
}
.logo {
    width: 200px;
    height: 80px;
    margin: 0 100px;
    font-family:cursive;
    font-weight: 900;
    font-size: 32px;
    line-height: 64px;
    color: #00AA46;

}
.logo > img {
    width: inherit;
    height: inherit;
}